<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>untitled</title>
	
	<style type="text/css" media="screen">
  body {
    background: #fff url(/images/piano.gif) top left repeat-x;
    font-family: Helvetica;
    margin-top: 75px;
  }

  table{
    width: 100%;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  table td, table th{
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  table th {
    background-color: #e6e6e6;
  }
  table td{
    padding: 3px;
    text-align: left;
  }
  table td.numeric {
    text-align: right;
  }
  table tr.totals {
    background-color: #e6e6e6;
  }
  table tr.totals td {
    font-weight: bold;
  }
  
  .centered{
    text-align: center;
  }
  </style>
  
</head>

<body>

<%= yield %>

</body>
</html>
